<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Advocate</title>
  <meta name="keywords" content="Advocate, Client, Records, Data" />
  <meta
    name="description"
    content="A website for Advocates, helps maintaining client records without any hassle"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Baloo+Da+2:600|Baloo+Thambi+2|Sen|Special+Elite&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/favicon-16x16.png"
  />
  <link rel="manifest" href="/images/site.webmanifest" />
</head>
<body>
  <nav class="navbar navbar-expand-md my-navbar">
    <div class="container">
      <span class="navbar-logo-holder"
        ><img class="navbar-logo" src="/images/advocate.png" alt="Advocate"
      /></span>
      <a href="/" class="navbar-brand py-2 pl-3 mr-auto"
        ><h2><strong>CLIENT MANAGER</strong></h2></a
      >
    </div>
  </nav>
</body>
