<%- include ("emptyNavbar") -%>

<div class="container py-5">
  <div class="row justify-content-center pt-5">
    <form
      id="advocate-login"
      class="col-10 col-sm-8 col-md-4 pt-5 pb-2 px-0 my-3"
      action="/"
      method="POST"
    >
      <div class="row mx-4 mx-sm-5 my-2 text-field-container">
        <input
          type="text"
          id="advocate-mail"
          class="col-12 py-2 pl-3 text-field"
          name="mail"
          required
        />
        <span class="text-field-placeholder">e-Mail</span>
        <img src="/images/error.jpg" class="error-img" alt="Error" />
        <span class="mt-1 mb-0 error-message">
          This field is required
        </span>
      </div>

      <div class="row mx-4 mx-sm-5 my-2 text-field-container">
        <input
          type="password"
          id="advocate-password"
          class="col-12 py-2 pl-3 text-field"
          name="password"
          required
        />
        <span class="text-field-placeholder">Password</span>
        <span class="mt-1 mb-0 error-message">This field is required</span>
        <img
          src="./Icons/eye-fill.svg"
          alt="Show"
          class="password-toggler"
          title="Show Password"
          style="right: 0.7rem;"
          data-for="#advocate-password"
        />
      </div>
      <button
        id="login-load-button"
        class="button mx-auto my-0 py-2 px-3"
        type="submit"
      >
        LOGIN
      </button>
      <img
        style="visibility: hidden;"
        height="20px"
        width="20px"
        src="/loading-svg/loading-mini.svg"
        alt="Loading..."
      />
      <h4 class="mt-2 mb-1" id="advocate-server-validation-error">Error</h4>
    </form>
  </div>
  <div class="d-flex flex-column align-items-center">
    <h4 class="mb-1 sign-up-message">Don't have an accoount??</h4>
    <a href="/sign-up"
      ><button class="btn btn-sm btn-light mx-auto" type="button">
        Sign Up
      </button></a
    >
  </div>
</div>

<%- include("footer") -%>
