<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Advocate</title>
  <meta name="keywords" content="Advocate, Client, Records, Data" />
  <meta
    name="description"
    content="A website for Advocates, helps maintaining client records without any hassle"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Baloo+Da+2:600|Baloo+Thambi+2|Sen|Special+Elite&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/0bad9ada6f.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/favicon-16x16.png"
  />
  <link rel="manifest" href="/images/site.webmanifest" />
</head>
<body>
  <nav class="navbar navbar-expand-md my-navbar">
    <div class="container">
      <button
        class="p-2 navbar-no-toggle navbar-toggler navbar-toggler-left"
        type="button"
      >
        <img class="navbar-no-toggle icon" src="/icons/list.svg" alt="Menu" />
      </button>
      <span class="ml-auto ml-sm-0 navbar-logo-holder"
        ><img class="navbar-logo" src="/images/advocate.png" alt="Advocate"
      /></span>
      <a href="/account/" class="navbar-brand py-2 pl-2 mr-auto"
        ><h2><strong>CLIENT MANAGER</strong></h2></a
      >
      <div
        class="mx-3 my-2 mx-sm-0 my-sm-0 navbar-no-toggle nav-items-container"
      >
        <div class="d-md-none mx-3 mt-2 mb-4">
          <span class="navbar-no-toggle navbar-logo-holder"
            ><img
              class="navbar-no-toggle navbar-logo"
              src="/images/advocate.png"
              alt="Advocate"
          /></span>
          <span class="p-2 round-icon-holder" style="float: right;"
            ><img class="icon" src="/icons/arrow-left.svg" alt="Back"
          /></span>
        </div>
        <ul class="navbar-nav ml-auto mr-2">
          <li class="my-3 my-sm-0 pl-2 pr-1 nav-item">
            <a href="/account/" class="m-1 nav-link">Home</a>
          </li>
          <li class="my-3 my-sm-0 px-2 nav-item">
            <a href="/templates/" class="m-1 nav-link">Templates</a>
          </li>
          <li class="my-3 my-sm-0 pl-1 pr-2 nav-item">
            <a href="/expenses/" class="m-1 nav-link">Expenses</a>
          </li>
        </ul>
      </div>
      <span id="profile-icon-holder" class="p-2 p-sm-3 round-icon-holder"
        ><img
          class="icon profile-icon"
          src="/icons/person-lines-fill.svg"
          alt="Profile"
      /></span>
    </div>
  </nav>
</body>
